data source:<BR>
https://www.lendingclub.com/info/download-data.action

In [1]:
import time
import pandas
print('Pandas',pandas.__version__)

Pandas 0.23.4

In [2]:
start_time = time.time()
loans_2007 = pandas.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)
print(time.time() - start_time,'seconds')
loans_2007.shape

11.096744775772095 seconds

(42538, 145)

In [3]:
first_n_entries=5
for col,col_type in loans_2007.dtypes.iteritems():
    if(col_type=='object'):
        print('\n',col,'has',loans_2007[col].nunique(),'unique entries; first ',first_n_entries,'are')
        print(loans_2007[col][0:first_n_entries])

 id has 3 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: id, dtype: object

 term has 2 unique entries; first  5 are
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

 int_rate has 394 unique entries; first  5 are
0     10.65%
1     15.27%
2     15.96%
3     13.49%
4     12.69%
Name: int_rate, dtype: object

 grade has 7 unique entries; first  5 are
0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

 sub_grade has 35 unique entries; first  5 are
0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

 emp_title has 30658 unique entries; first  5 are
0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

 emp_length has 11 unique entries; first  5 are
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

 home_ownership has 5 unique entries; first  5 are
0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

 verification_status has 3 unique entries; first  5 are
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

 issue_d has 55 unique entries; first  5 are
0    Dec-2011
1    Dec-2011
2    Dec-2011
3    Dec-2011
4    Dec-2011
Name: issue_d, dtype: object

 loan_status has 4 unique entries; first  5 are
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4     Fully Paid
Name: loan_status, dtype: object

 pymnt_plan has 1 unique entries; first  5 are
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object

 desc has 28963 unique entries; first  5 are
0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

 purpose has 14 unique entries; first  5 are
0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

 title has 21264 unique entries; first  5 are
0                Computer
1                    bike
2    real estate business
3                personel
4                Personal
Name: title, dtype: object

 zip_code has 837 unique entries; first  5 are
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
Name: zip_code, dtype: object

 addr_state has 50 unique entries; first  5 are
0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

 earliest_cr_line has 530 unique entries; first  5 are
0    Jan-1985
1    Apr-1999
2    Nov-2001
3    Feb-1996
4    Jan-1996
Name: earliest_cr_line, dtype: object

 revol_util has 1119 unique entries; first  5 are
0    83.7%
1     9.4%
2    98.5%
3      21%
4    53.9%
Name: revol_util, dtype: object

 initial_list_status has 1 unique entries; first  5 are
0    f
1    f
2    f
3    f
4    f
Name: initial_list_status, dtype: object

 last_pymnt_d has 112 unique entries; first  5 are
0    Jan-2015
1    Apr-2013
2    Jun-2014
3    Jan-2015
4    Jan-2017
Name: last_pymnt_d, dtype: object

 next_pymnt_d has 98 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: next_pymnt_d, dtype: object

 last_credit_pull_d has 138 unique entries; first  5 are
0    Dec-2018
1    Oct-2016
2    Jun-2017
3    Apr-2016
4    Apr-2018
Name: last_credit_pull_d, dtype: object

 application_type has 1 unique entries; first  5 are
0    Individual
1    Individual
2    Individual
3    Individual
4    Individual
Name: application_type, dtype: object

 hardship_flag has 1 unique entries; first  5 are
0    N
1    N
2    N
3    N
4    N
Name: hardship_flag, dtype: object

 disbursement_method has 1 unique entries; first  5 are
0    Cash
1    Cash
2    Cash
3    Cash
4    Cash
Name: disbursement_method, dtype: object

 debt_settlement_flag has 2 unique entries; first  5 are
0    N
1    N
2    N
3    N
4    N
Name: debt_settlement_flag, dtype: object

 debt_settlement_flag_date has 63 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: debt_settlement_flag_date, dtype: object

 settlement_status has 3 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: settlement_status, dtype: object

 settlement_date has 61 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: settlement_date, dtype: object

In [4]:
def uniq_per_col(df,count):
    for this_column in df.columns:
        print("\n==== ",this_column,"has",df[this_column].nunique(),"unique entries ====")
        print(df[this_column].value_counts().head(count))

In [5]:
uniq_per_col(loans_2007,5)

====  id has 3 unique entries ====
Total amount funded in policy code 2: 0            1
Total amount funded in policy code 1: 460296150    1
Loans that do not meet the credit policy           1
Name: id, dtype: int64

====  member_id has 0 unique entries ====
Series([], Name: member_id, dtype: int64)

====  loan_amnt has 898 unique entries ====
10000.0    3016
12000.0    2439
5000.0     2260
6000.0     2037
15000.0    2012
Name: loan_amnt, dtype: int64

====  funded_amnt has 1051 unique entries ====
10000.0    2924
12000.0    2347
5000.0     2247
6000.0     2023
15000.0    1897
Name: funded_amnt, dtype: int64

====  funded_amnt_inv has 9248 unique entries ====
5000.0     1369
10000.0    1302
6000.0     1240
12000.0    1084
8000.0      929
Name: funded_amnt_inv, dtype: int64

====  term has 2 unique entries ====
 36 months    31534
 60 months    11001
Name: term, dtype: int64

====  int_rate has 394 unique entries ====
 10.99%    970
 11.49%    837
 13.49%    832
  7.51%    787
  7.88%    742
Name: int_rate, dtype: int64

====  installment has 16459 unique entries ====
311.11    68
180.96    59
311.02    54
150.80    48
368.45    46
Name: installment, dtype: int64

====  grade has 7 unique entries ====
B    12389
A    10183
C     8740
D     6016
E     3394
Name: grade, dtype: int64

====  sub_grade has 35 unique entries ====
B3    2997
A4    2905
B5    2807
A5    2793
B4    2590
Name: sub_grade, dtype: int64

====  emp_title has 30658 unique entries ====
US Army              139
Bank of America      115
IBM                   72
AT&T                  61
Kaiser Permanente     61
Name: emp_title, dtype: int64

====  emp_length has 11 unique entries ====
10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
Name: emp_length, dtype: int64

====  home_ownership has 5 unique entries ====
RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

====  annual_inc has 5597 unique entries ====
60000.0    1591
50000.0    1119
40000.0     935
45000.0     898
30000.0     884
Name: annual_inc, dtype: int64

====  verification_status has 3 unique entries ====
Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64

====  issue_d has 55 unique entries ====
Dec-2011    2267
Nov-2011    2232
Oct-2011    2118
Sep-2011    2067
Aug-2011    1934
Name: issue_d, dtype: int64

====  loan_status has 4 unique entries ====
Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

====  pymnt_plan has 1 unique entries ====
n    42535
Name: pymnt_plan, dtype: int64

====  url has 0 unique entries ====
Series([], Name: url, dtype: int64)

====  desc has 28963 unique entries ====
                             225
Debt Consolidation            11
Camping Membership             8
refinancing                    5
credit card consolidation      3
Name: desc, dtype: int64

====  purpose has 14 unique entries ====
debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
Name: purpose, dtype: int64

====  title has 21264 unique entries ====
Debt Consolidation         2259
Debt Consolidation Loan    1760
Personal Loan               708
Consolidation               547
debt consolidation          532
Name: title, dtype: int64

====  zip_code has 837 unique entries ====
100xx    649
945xx    559
606xx    548
112xx    538
070xx    503
Name: zip_code, dtype: int64

====  addr_state has 50 unique entries ====
CA    7429
NY    4065
FL    3104
TX    2915
NJ    1988
Name: addr_state, dtype: int64

====  dti has 2894 unique entries ====
0.0     206
12.0     54
10.0     46
18.0     46
19.2     45
Name: dti, dtype: int64

====  delinq_2yrs has 12 unique entries ====
0.0    37771
1.0     3595
2.0      771
3.0      244
4.0       72
Name: delinq_2yrs, dtype: int64

====  earliest_cr_line has 530 unique entries ====
Oct-1999    393
Nov-1998    390
Oct-2000    370
Dec-1998    366
Dec-1997    348
Name: earliest_cr_line, dtype: int64

====  inq_last_6mths has 28 unique entries ====
0.0    19657
1.0    11247
2.0     5987
3.0     3182
4.0     1056
Name: inq_last_6mths, dtype: int64

====  mths_since_last_delinq has 95 unique entries ====
0.0     821
30.0    270
23.0    266
19.0    266
15.0    263
Name: mths_since_last_delinq, dtype: int64

====  mths_since_last_record has 113 unique entries ====
0.0      1275
89.0       70
113.0      68
104.0      66
87.0       62
Name: mths_since_last_record, dtype: int64

====  open_acc has 44 unique entries ====
7.0     4252
8.0     4176
6.0     4172
9.0     3922
10.0    3386
Name: open_acc, dtype: int64

====  pub_rec has 6 unique entries ====
0.0    40130
1.0     2298
2.0       64
3.0       11
4.0        2
Name: pub_rec, dtype: int64

====  revol_bal has 22709 unique entries ====
0.0      1119
255.0      14
298.0      14
1.0        13
682.0      12
Name: revol_bal, dtype: int64

====  revol_util has 1119 unique entries ====
0%       1070
40.7%      65
0.2%       64
63%        63
66.6%      62
Name: revol_util, dtype: int64

====  total_acc has 83 unique entries ====
15.0    1552
16.0    1547
17.0    1543
14.0    1531
20.0    1504
Name: total_acc, dtype: int64

====  initial_list_status has 1 unique entries ====
f    42535
Name: initial_list_status, dtype: int64

====  out_prncp has 1 unique entries ====
0.0    42535
Name: out_prncp, dtype: int64

====  out_prncp_inv has 1 unique entries ====
0.0    42535
Name: out_prncp_inv, dtype: int64

====  total_pymnt has 42364 unique entries ====
0.000000        19
90.000000        6
12029.450000     6
180.000000       4
11955.399214     3
Name: total_pymnt, dtype: int64

====  total_pymnt_inv has 40102 unique entries ====
0.00        297
6514.52      16
5478.39      14
13148.14     14
10956.78     12
Name: total_pymnt_inv, dtype: int64

====  total_rec_prncp has 7691 unique entries ====
10000.0    2432
12000.0    1958
5000.0     1861
6000.0     1752
15000.0    1529
Name: total_rec_prncp, dtype: int64

====  total_rec_int has 37462 unique entries ====
0.00       83
1196.57    26
514.52     19
1148.14    17
717.95     17
Name: total_rec_int, dtype: int64

====  total_rec_late_fee has 2299 unique entries ====
0.00     40145
15.00       69
30.00        8
45.00        3
15.79        2
Name: total_rec_late_fee, dtype: int64

====  recoveries has 5059 unique entries ====
0.00    36176
0.30       14
1.80       11
0.96       10
1.20       10
Name: recoveries, dtype: int64

====  collection_recovery_fee has 2898 unique entries ====
0.00    38206
2.00       15
1.20       11
1.60       10
1.55        9
Name: collection_recovery_fee, dtype: int64

====  last_pymnt_d has 112 unique entries ====
Mar-2013    1070
Dec-2014     949
May-2013     943
Feb-2013     906
Mar-2012     893
Name: last_pymnt_d, dtype: int64

====  last_pymnt_amnt has 37260 unique entries ====
0.0      96
200.0    19
100.0    17
50.0     17
150.0    13
Name: last_pymnt_amnt, dtype: int64

====  next_pymnt_d has 98 unique entries ====
Mar-2011    107
Apr-2011    101
Feb-2011     91
Jan-2011     79
May-2011     77
Name: next_pymnt_d, dtype: int64

====  last_credit_pull_d has 138 unique entries ====
Jan-2019    8800
Oct-2016    3955
Dec-2018     884
Aug-2018     876
Oct-2018     848
Name: last_credit_pull_d, dtype: int64

====  collections_12_mths_ex_med has 1 unique entries ====
0.0    42390
Name: collections_12_mths_ex_med, dtype: int64

====  mths_since_last_major_derog has 0 unique entries ====
Series([], Name: mths_since_last_major_derog, dtype: int64)

====  policy_code has 1 unique entries ====
1.0    42535
Name: policy_code, dtype: int64

====  application_type has 1 unique entries ====
Individual    42535
Name: application_type, dtype: int64

====  annual_inc_joint has 0 unique entries ====
Series([], Name: annual_inc_joint, dtype: int64)

====  dti_joint has 0 unique entries ====
Series([], Name: dti_joint, dtype: int64)

====  verification_status_joint has 0 unique entries ====
Series([], Name: verification_status_joint, dtype: int64)

====  acc_now_delinq has 2 unique entries ====
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64

====  tot_coll_amt has 0 unique entries ====
Series([], Name: tot_coll_amt, dtype: int64)

====  tot_cur_bal has 0 unique entries ====
Series([], Name: tot_cur_bal, dtype: int64)

====  open_acc_6m has 0 unique entries ====
Series([], Name: open_acc_6m, dtype: int64)

====  open_act_il has 0 unique entries ====
Series([], Name: open_act_il, dtype: int64)

====  open_il_12m has 0 unique entries ====
Series([], Name: open_il_12m, dtype: int64)

====  open_il_24m has 0 unique entries ====
Series([], Name: open_il_24m, dtype: int64)

====  mths_since_rcnt_il has 0 unique entries ====
Series([], Name: mths_since_rcnt_il, dtype: int64)

====  total_bal_il has 0 unique entries ====
Series([], Name: total_bal_il, dtype: int64)

====  il_util has 0 unique entries ====
Series([], Name: il_util, dtype: int64)

====  open_rv_12m has 0 unique entries ====
Series([], Name: open_rv_12m, dtype: int64)

====  open_rv_24m has 0 unique entries ====
Series([], Name: open_rv_24m, dtype: int64)

====  max_bal_bc has 0 unique entries ====
Series([], Name: max_bal_bc, dtype: int64)

====  all_util has 0 unique entries ====
Series([], Name: all_util, dtype: int64)

====  total_rev_hi_lim has 0 unique entries ====
Series([], Name: total_rev_hi_lim, dtype: int64)

====  inq_fi has 0 unique entries ====
Series([], Name: inq_fi, dtype: int64)

====  total_cu_tl has 0 unique entries ====
Series([], Name: total_cu_tl, dtype: int64)

====  inq_last_12m has 0 unique entries ====
Series([], Name: inq_last_12m, dtype: int64)

====  acc_open_past_24mths has 0 unique entries ====
Series([], Name: acc_open_past_24mths, dtype: int64)

====  avg_cur_bal has 0 unique entries ====
Series([], Name: avg_cur_bal, dtype: int64)

====  bc_open_to_buy has 0 unique entries ====
Series([], Name: bc_open_to_buy, dtype: int64)

====  bc_util has 0 unique entries ====
Series([], Name: bc_util, dtype: int64)

====  chargeoff_within_12_mths has 1 unique entries ====
0.0    42390
Name: chargeoff_within_12_mths, dtype: int64

====  delinq_amnt has 3 unique entries ====
0.0       42504
6053.0        1
27.0          1
Name: delinq_amnt, dtype: int64

====  mo_sin_old_il_acct has 0 unique entries ====
Series([], Name: mo_sin_old_il_acct, dtype: int64)

====  mo_sin_old_rev_tl_op has 0 unique entries ====
Series([], Name: mo_sin_old_rev_tl_op, dtype: int64)

====  mo_sin_rcnt_rev_tl_op has 0 unique entries ====
Series([], Name: mo_sin_rcnt_rev_tl_op, dtype: int64)

====  mo_sin_rcnt_tl has 0 unique entries ====
Series([], Name: mo_sin_rcnt_tl, dtype: int64)

====  mort_acc has 0 unique entries ====
Series([], Name: mort_acc, dtype: int64)

====  mths_since_recent_bc has 0 unique entries ====
Series([], Name: mths_since_recent_bc, dtype: int64)

====  mths_since_recent_bc_dlq has 0 unique entries ====
Series([], Name: mths_since_recent_bc_dlq, dtype: int64)

====  mths_since_recent_inq has 0 unique entries ====
Series([], Name: mths_since_recent_inq, dtype: int64)

====  mths_since_recent_revol_delinq has 0 unique entries ====
Series([], Name: mths_since_recent_revol_delinq, dtype: int64)

====  num_accts_ever_120_pd has 0 unique entries ====
Series([], Name: num_accts_ever_120_pd, dtype: int64)

====  num_actv_bc_tl has 0 unique entries ====
Series([], Name: num_actv_bc_tl, dtype: int64)

====  num_actv_rev_tl has 0 unique entries ====
Series([], Name: num_actv_rev_tl, dtype: int64)

====  num_bc_sats has 0 unique entries ====
Series([], Name: num_bc_sats, dtype: int64)

====  num_bc_tl has 0 unique entries ====
Series([], Name: num_bc_tl, dtype: int64)

====  num_il_tl has 0 unique entries ====
Series([], Name: num_il_tl, dtype: int64)

====  num_op_rev_tl has 0 unique entries ====
Series([], Name: num_op_rev_tl, dtype: int64)

====  num_rev_accts has 0 unique entries ====
Series([], Name: num_rev_accts, dtype: int64)

====  num_rev_tl_bal_gt_0 has 0 unique entries ====
Series([], Name: num_rev_tl_bal_gt_0, dtype: int64)

====  num_sats has 0 unique entries ====
Series([], Name: num_sats, dtype: int64)

====  num_tl_120dpd_2m has 0 unique entries ====
Series([], Name: num_tl_120dpd_2m, dtype: int64)

====  num_tl_30dpd has 0 unique entries ====
Series([], Name: num_tl_30dpd, dtype: int64)

====  num_tl_90g_dpd_24m has 0 unique entries ====
Series([], Name: num_tl_90g_dpd_24m, dtype: int64)

====  num_tl_op_past_12m has 0 unique entries ====
Series([], Name: num_tl_op_past_12m, dtype: int64)

====  pct_tl_nvr_dlq has 0 unique entries ====
Series([], Name: pct_tl_nvr_dlq, dtype: int64)

====  percent_bc_gt_75 has 0 unique entries ====
Series([], Name: percent_bc_gt_75, dtype: int64)

====  pub_rec_bankruptcies has 3 unique entries ====
0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64

====  tax_liens has 2 unique entries ====
0.0    42429
1.0        1
Name: tax_liens, dtype: int64

====  tot_hi_cred_lim has 0 unique entries ====
Series([], Name: tot_hi_cred_lim, dtype: int64)

====  total_bal_ex_mort has 0 unique entries ====
Series([], Name: total_bal_ex_mort, dtype: int64)

====  total_bc_limit has 0 unique entries ====
Series([], Name: total_bc_limit, dtype: int64)

====  total_il_high_credit_limit has 0 unique entries ====
Series([], Name: total_il_high_credit_limit, dtype: int64)

====  revol_bal_joint has 0 unique entries ====
Series([], Name: revol_bal_joint, dtype: int64)

====  sec_app_earliest_cr_line has 0 unique entries ====
Series([], Name: sec_app_earliest_cr_line, dtype: int64)

====  sec_app_inq_last_6mths has 0 unique entries ====
Series([], Name: sec_app_inq_last_6mths, dtype: int64)

====  sec_app_mort_acc has 0 unique entries ====
Series([], Name: sec_app_mort_acc, dtype: int64)

====  sec_app_open_acc has 0 unique entries ====
Series([], Name: sec_app_open_acc, dtype: int64)

====  sec_app_revol_util has 0 unique entries ====
Series([], Name: sec_app_revol_util, dtype: int64)

====  sec_app_open_act_il has 0 unique entries ====
Series([], Name: sec_app_open_act_il, dtype: int64)

====  sec_app_num_rev_accts has 0 unique entries ====
Series([], Name: sec_app_num_rev_accts, dtype: int64)

====  sec_app_chargeoff_within_12_mths has 0 unique entries ====
Series([], Name: sec_app_chargeoff_within_12_mths, dtype: int64)

====  sec_app_collections_12_mths_ex_med has 0 unique entries ====
Series([], Name: sec_app_collections_12_mths_ex_med, dtype: int64)

====  sec_app_mths_since_last_major_derog has 0 unique entries ====
Series([], Name: sec_app_mths_since_last_major_derog, dtype: int64)

====  hardship_flag has 1 unique entries ====
N    42535
Name: hardship_flag, dtype: int64

====  hardship_type has 0 unique entries ====
Series([], Name: hardship_type, dtype: int64)

====  hardship_reason has 0 unique entries ====
Series([], Name: hardship_reason, dtype: int64)

====  hardship_status has 0 unique entries ====
Series([], Name: hardship_status, dtype: int64)

====  deferral_term has 0 unique entries ====
Series([], Name: deferral_term, dtype: int64)

====  hardship_amount has 0 unique entries ====
Series([], Name: hardship_amount, dtype: int64)

====  hardship_start_date has 0 unique entries ====
Series([], Name: hardship_start_date, dtype: int64)

====  hardship_end_date has 0 unique entries ====
Series([], Name: hardship_end_date, dtype: int64)

====  payment_plan_start_date has 0 unique entries ====
Series([], Name: payment_plan_start_date, dtype: int64)

====  hardship_length has 0 unique entries ====
Series([], Name: hardship_length, dtype: int64)

====  hardship_dpd has 0 unique entries ====
Series([], Name: hardship_dpd, dtype: int64)

====  hardship_loan_status has 0 unique entries ====
Series([], Name: hardship_loan_status, dtype: int64)

====  orig_projected_additional_accrued_interest has 0 unique entries ====
Series([], Name: orig_projected_additional_accrued_interest, dtype: int64)

====  hardship_payoff_balance_amount has 0 unique entries ====
Series([], Name: hardship_payoff_balance_amount, dtype: int64)

====  hardship_last_payment_amount has 0 unique entries ====
Series([], Name: hardship_last_payment_amount, dtype: int64)

====  disbursement_method has 1 unique entries ====
Cash    42535
Name: disbursement_method, dtype: int64

====  debt_settlement_flag has 2 unique entries ====
N    42375
Y      160
Name: debt_settlement_flag, dtype: int64

====  debt_settlement_flag_date has 63 unique entries ====
Jun-2017    18
Apr-2017     7
Jan-2015     7
Sep-2015     6
Oct-2013     5
Name: debt_settlement_flag_date, dtype: int64

====  settlement_status has 3 unique entries ====
COMPLETE    143
BROKEN       14
ACTIVE        3
Name: settlement_status, dtype: int64

====  settlement_date has 61 unique entries ====
Oct-2013    8
Jan-2015    8
Sep-2013    8
Mar-2013    6
Jul-2014    6
Name: settlement_date, dtype: int64

====  settlement_amount has 143 unique entries ====
1800.0    3
6500.0    3
5000.0    3
8000.0    3
3300.0    2
Name: settlement_amount, dtype: int64

====  settlement_percentage has 124 unique entries ====
50.0    13
40.0     8
65.0     4
45.0     4
20.0     3
Name: settlement_percentage, dtype: int64

====  settlement_term has 12 unique entries ====
0.0     125
1.0      17
2.0       5
6.0       3
18.0      2
Name: settlement_term, dtype: int64